{
    "parser":  "@typescript-eslint/parser",  // Specifies the ESLint parser
    "extends":  [
      "eslint:recommended",
      "plugin:react/recommended",  // Uses the recommended rules from @eslint-plugin-react
      "plugin:@typescript-eslint/recommended",// Uses the recommended rules from @typescript-eslint/eslint-plugin
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:graphql-fragments/recommended"
    ],
    "parserOptions":  {
      "ecmaVersion":  2018,  // Allows for the parsing of modern ECMAScript features
      "sourceType":  "module",  // Allows for the use of imports
      "ecmaFeatures":  {
        "jsx":  true  // Allows for the parsing of JSX
      }
    },
    "rules":  {
      "@typescript-eslint/member-delimiter-style": ["error",{
        "multiline": {
          "delimiter": "none",
          "requireLast": false
        },
        "singleline": {
          "delimiter": "comma",
          "requireLast": false
        }
      }],
      "@typescript-eslint/camelcase": ["warn", { "ignoreImports": true}],
      "react-hooks/rules-of-hooks": "error",
      "react-hooks/exhaustive-deps": "warn",
      // Place to specify ESLint rules. Can be used to overwrite rules specified from the extended configs
      // e.g. "@typescript-eslint/explicit-function-return-type": "off",
    },
    "settings":  {
      "react":  {
        "version":  "detect"  // Tells eslint-plugin-react to automatically detect the version of React to use
      },
      "failOnError": false
    },
    "overrides": [
      {
        "files": ["**/*.js", "**/*.jsx"],
        "plugins": ["react", "@typescript-eslint", "react-hooks"],
        "rules": {
          "@typescript-eslint/explicit-function-return-type": 0
        }
      }
    ]
  }