@import "variables";

@mixin font-face--roboto-300() {
    @font-face {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 300;
        font-display: $default-font-display;
        src: local("Roboto Light"), local("Roboto-Light"),
            url("https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc4.woff2") format("woff2"),
            url("https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc-.woff") format("woff"),
            url("https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc8.eot") format("embedded-opentype"),
            url("https://fonts.gstatic.com/l/font?kit=KFOlCnqEu92Fr1MmSU5fBBc_&skey=11ce8ad5f54705ca&v=v18#Roboto") format("svg"),
            url("https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc9.ttf") format("truetype");
    }
}

@mixin font-face--roboto-400() {
    @font-face {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-display: $default-font-display;
        src: local("Roboto"), local("Roboto-Regular"),
            url("https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2") format("woff2"),
            url("https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxM.woff") format("woff"),
            url("https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxO.eot") format("embedded-opentype"),
            url("https://fonts.gstatic.com/l/font?kit=KFOmCnqEu92Fr1Mu4mxN&skey=a0a0114a1dcab3ac&v=v18#Roboto") format("svg"),
            url("https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxP.ttf") format("truetype");
    }
}

@mixin font-face--roboto-500() {
    @font-face {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-display: $default-font-display;
        src: local("Roboto Medium"), local("Roboto-Medium"),
            url("https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc4.woff2") format("woff2"),
            url("https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc-.woff") format("woff"),
            url("https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc8.eot") format("embedded-opentype"),
            url("https://fonts.gstatic.com/l/font?kit=KFOlCnqEu92Fr1MmEU9fBBc_&skey=ee881451c540fdec&v=v18#Roboto") format("svg"),
            url("https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc9.ttf") format("truetype");
    }
}

@mixin font-face--roboto-700() {
    @font-face {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-display: $default-font-display;
        src: local("Roboto Bold"), local("Roboto-Bold"),
            url("https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc4.woff2") format("woff2"),
            url("https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc-.woff") format("woff"),
            url("https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc8.eot") format("embedded-opentype"),
            url("https://fonts.gstatic.com/l/font?kit=KFOlCnqEu92Fr1MmWUlfBBc_&skey=c06e7213f788649e&v=v18#Roboto") format("svg"),
            url("https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc9.ttf") format("truetype");
    }
}
