//== General Font Weights
$m--font-weights: (thin: 200, // access to this font weight value calling get-font-weight function as get-font-weight(this) in SASS code
    normal: 300, // access to this font weight value calling get-font-weight function as get-font-weight(normal) in SASS code
    bold: 400, // access to this font weight value calling get-font-weight function as get-font-weight(bold) in SASS code
    bolder: 500, // access to this font weight value calling get-font-weight function as get-font-weight(bolder) in SASS code
    boldest: 600, // access to this font weight value calling get-font-weight function as get-font-weight(boldest) in SASS code
    boldest2: 700 // access to this font weight value calling get-font-weight function as get-font-weight(boldest2) in SASS code
) !default;

//== General link font settings
