.i-interval-wrapper {
    .i-interval__score {
        >svg {
            width: 165px;
            
            #vf-pause{
                display: none;
            }
        }
        &.i-interval__score--expand {
            >svg {
                width: 270px;
            }
        }
    }

    .i-interval-answers {
        display: grid;
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: repeat(2,1fr);
        column-gap: 20px;
        row-gap: 20px;
        padding-bottom: 20px;
    }

    .MIDISounds {
        display: none;
    }

    .i-interval__navigate-buttons {
        button {
            margin: 40px 10px 10px;
        }
    }
}