.i-header {
    width:100%;
    height:70px;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 51%, rgba(237, 237, 237, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(51%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(237, 237, 237, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 51%, rgba(237, 237, 237, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 51%, rgba(237, 237, 237, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 51%, rgba(237, 237, 237, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 51%, rgba(237, 237, 237, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=0);
    box-shadow: 0px 0px 46px -23px rgba(0, 0, 0, 0.75);
    
    .i-header__content{
        height: 100%;
        .i-header__logo--wrapper {
            padding: 0;
            margin: 0;
            >.i-header__logo {
                width: 50px;
                height: 50px;
            }
        }
        .i-header__lang-select {
            width: 80px;
            height: 70px;
            position: absolute;
            right: 15px;

            &.i-header__lang-select--disabled {
                filter: grayscale(1);
            }

            .flag-select {
                position: relative;
                display: block;
                z-index: 1;
                padding: 0;
                margin: 0;
                img {
                    width: 45px;
                    height: 30px;
                    border: 1px solid black;
                }
                .selected--flag--option {
                    border-radius: 0.25rem;
                    transition: border-color 0.15s ease-in-out;
                    &:focus {
                        outline: none;
                    }
                }
                .country-flag {
                    .country-label {
                        position: absolute;
                        z-index: -1;
                    }
                }
                .flag-options {
                    z-index: 999;
                    border: 1px solid black;
                    box-shadow: 0px 7px 10px -4px rgba(0, 0, 0, 0.75);
                    background: #fff;
                    overflow: auto;
                }
                .flag-option {
                    white-space: nowrap;
                    &:hover {
                        color: #fff;
                    }
                    &:focus {
                        outline: none;
                    }
                }
                .filterBox {
                    input {
                        &:focus {
                            outline: none
                        }
                    }
                }
                .arrow-down {
                    display: none;
                }
                .hidden {
                    display: none;
                }
                .no--focus {
                    pointer-events: none;
                }
            }
        }
    }
}